/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}

body {
  background: black;
  /* background-image: url("../assets/background7.jpg.crdownload");
  background-size: cover;
  background-blend-mode: multiply; */
  font-family: monospace, 'Arial Narrow Bold', sans-serif;
  font-weight: 200;
  color: green;
}

/* transitions */

.btn{
  transition: all 300ms ease;
  color: black;
}
a{
  transition: all 300ms ease;
  color: green;
}

/* desktopNav */

nav, .navLinks{
  display: flex;
}

nav{
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.navLinks{
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a{
  text-decoration: none;
  text-decoration-color: green;
}
a:hover{
  color: green;
  text-decoration: underline;
  text-underline-offset: .5rem;
}

.logo{
  font-size: 2rem;
}

.logo:hover{
  cursor: default;
}

/* hamburgerMenu */

#hamburgerNav{
  display: none;
}

.hamburgerMenu{
  position: relative;
  display: inline-block;
}

.hamburgerIcon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburgerIcon span{
  width: 100%;
  height: 2px;
  background-color: green;
  transition: all 0.3 ease-in-out;
}

.menuLinks{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  opacity: 50%;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menuLinks a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: green;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menuLinks li{
  list-style: none;
}

.menuLinks.open{
  max-height: 250px;
}

.menuLinks.open a:hover{
  text-decoration: underline;
  color: green;
}

.hamburgerIcon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburgerIcon.open span:nth-child(2) {
  opacity: 0;
}

.hamburgerIcon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburgerIcon span:first-child{
  transform: none;
}

.hamburgerIcon span:nth-child(2) {
  opacity: 1;
}

.hamburgerIcon span:last-child{
  transform: none;
}

/* sections */

section{
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.sectionContainer{
  display: flex;
}

/* profile section */

#profile{
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 85vh;
}

.sectionPicContainer{
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.sectionText{
  align-self: center;
  text-align: center;
}

.sectionText p{
  font-weight: 600;
}

.sectionTextP1{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.title{
  font-size: 3rem;
  text-align: center;
}

#socialsContainer{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.sectionPicContainer{
  width: 300px;
  height: 300px;
  border-radius: 30rem;
  border: green solid 1px;
  overflow: hidden;
}

.sectionPicContainer img{
  width: auto;
}
/* font awesome */

#fontAwesome{
  cursor: pointer;
  height: 2rem;
  width: 5rem;
}

/* buttons */

.btnContainer{
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.btn{font-size: 1rem;
  font-weight: 600;
  transition: all 300ms ease;
  padding: .5rem;
  width: 8rem;
  border-radius: 2rem;
}

.btnColor1, .btnColor2{
  border: grey solid .1rem;
} 

.btnColor1:hover, .btnColor2:hover{
  cursor: pointer;
  background: green;
} 





/* media queries */

@media screen and (max-width: 1200px) {
  #desktopNav {
    display: none;
  }
  #hamburgerNav{
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  #desktopNav {
    display: none;
  }
  #hamburgerNav{
    height: 15vh;
    font-size: 1rem;
    display: flex;
  }
  .logo{
    font-size: 1.5rem;
  }
  section{
    height: 88vh;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  .sectionPicContainer{
    width: 50vw;
    height: 25vh;
    margin: 0 auto;
    justify-content: center;
  }
  .sectionText p{
    font-size: 1rem;
  }
  .title{
    font-size: 1.5rem;
  }
  .btn{
    margin: .5rem 0;
  }
  #profile{
    height: 85vh;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  #about{
    height: 100vh;
  }

  

}